/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  /* background: url('../../../static/images/logo-jhipster-react.svg') no-repeat center top;*/
  background-size: contain;
}
